In [127]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [148]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [149]:
test.head()

,customerid,age,bank_name_clients,employment_status_clients,good_bad_flag,loanamount,loannumber,source,termdays,totaldue
0,8a28afc7474813a40147639ec637156b,32,GT Bank,Permanent,NaN,25000,11,test,30,27500.0
1,8a3735d5518aba7301518ac34413010d,39,GT Bank,Permanent,NaN,20000,7,test,30,24500.0
2,8a76e7d443e6e97c0143ed099d102b1d,36,Zenith Bank,Permanent,NaN,20000,6,test,30,24500.0
3,8a818823525dceef01525deda2480384,41,First Bank,Self-Employed,NaN,40000,10,test,60,48000.0
4,8a818926522ea5ef01523aff15c37482,33,Diamond Bank,Permanent,NaN,20000,3,test,30,24500.0

In [150]:
print(train.shape)
print(test.shape)

(4368, 10)
(1450, 10)

In [151]:
train.head()

,customerid,age,bank_name_clients,employment_status_clients,good_bad_flag,loanamount,loannumber,source,termdays,totaldue
0,8a1088a0484472eb01484669e3ce4e0b,28,GT Bank,Permanent,Bad,10000,2,train,15,11500.0
1,8a1a1e7e4f707f8b014f797718316cad,38,Standard Chartered,Permanent,Good,30000,5,train,60,39000.0
2,8a1a32fc49b632520149c3b8fdf85139,38,GT Bank,Permanent,Good,20000,8,train,30,24500.0
3,8a1eb5ba49a682300149c3c068b806c7,39,First Bank,Permanent,Good,30000,9,train,60,39000.0
4,8a1edbf14734127f0147356fdb1b1eb2,39,GT Bank,Permanent,Good,10000,3,train,15,11500.0

In [152]:
test.employment_status_clients.unique()

array(['Permanent', 'Self-Employed', 'Student', 'Unemployed', 'Retired'], dtype=object)

In [153]:
train = train.drop(['customerid','source'],axis=1)
test = test.drop(['customerid','good_bad_flag','source'],axis=1)

values = {"good_bad_flag":{"Bad":0, "Good":1},"employment_status_clients":{'Permanent':0,'S'}}
     
train.replace(values,inplace=True)

In [143]:
trainDummy = pd.get_dummies(train)
testDummy = pd.get_dummies(test)

In [155]:
features = trainDummy.drop(['good_bad_flag'], axis=1)

ValueError: labels ['good_bad_flag'] not contained in axis

In [90]:
target = trainDummy['good_bad_flag']

In [92]:
features.head()

,age,loanamount,loannumber,termdays,totaldue,bank_name_clients_Access Bank,bank_name_clients_Diamond Bank,bank_name_clients_EcoBank,bank_name_clients_FCMB,bank_name_clients_Fidelity Bank,...,bank_name_clients_UBA,bank_name_clients_Union Bank,bank_name_clients_Unity Bank,bank_name_clients_Wema Bank,bank_name_clients_Zenith Bank,employment_status_clients_Permanent,employment_status_clients_Retired,employment_status_clients_Self-Employed,employment_status_clients_Student,employment_status_clients_Unemployed
0,28,10000,2,15,11500.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,38,30000,5,60,39000.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,38,20000,8,30,24500.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,39,30000,9,60,39000.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,39,10000,3,15,11500.0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [116]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=0)

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [117]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(x_train,y_train)

In [105]:
from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=0)

In [111]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.71281464530892447

In [112]:
a = rf.predict(testDummy)

logsubmission = pd.DataFrame({'customerid':sample["customerid"],'Good_Bad_flag':a})
logsubmission.to_csv('11.csv')

In [106]:

from sklearn.linear_model import LogisticRegression
from sklearn import metrics

logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [107]:
logreg.score(X_test, y_test)

0.78947368421052633

In [108]:
prediction = logreg.predict(testDummy)

In [93]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
import matplotlib.pyplot as plt
from sklearn.datasets import load_wine
from sklearn.pipeline import make_pipeline

FIG_SIZE = (10, 7)

# Make a train/test split using 30% test size
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.30)

# Fit to data and predict using pipelined GNB and PCA.
unscaled_clf = make_pipeline(PCA(n_components=2), GaussianNB())
unscaled_clf.fit(X_train, y_train)
pred_test = unscaled_clf.predict(X_test)

# Fit to data and predict using pipelined scaling, GNB and PCA.
std_clf = make_pipeline(StandardScaler(), PCA(n_components=2), GaussianNB())
std_clf.fit(X_train, y_train)
pred_test_std = std_clf.predict(X_test)

# Show prediction accuracies in scaled and unscaled data.
print('\nPrediction accuracy for the normal test dataset with PCA')
print('{:.2%}\n'.format(metrics.accuracy_score(y_test, pred_test)))

print('\nPrediction accuracy for the standardized test dataset with PCA')
print('{:.2%}\n'.format(metrics.accuracy_score(y_test, pred_test_std)))

# Extract PCA from pipeline
pca = unscaled_clf.named_steps['pca']
pca_std = std_clf.named_steps['pca']

# Show first principal components
print('\nPC 1 without scaling:\n', pca.components_[0])
print('\nPC 1 with scaling:\n', pca_std.components_[0])

# Scale and use PCA on X_train data for visualization.
scaler = std_clf.named_steps['standardscaler']
X_train_std = pca_std.transform(scaler.transform(X_train))

Prediction accuracy for the normal test dataset with PCA
79.02%


Prediction accuracy for the standardized test dataset with PCA
79.02%


PC 1 without scaling:
 [  2.30742751e-06   6.69286351e-01   1.88664697e-04   4.24267867e-04
   7.43004418e-01  -5.81549292e-07   7.06391609e-07  -3.27687925e-07
   4.43499134e-07  -1.44895960e-07   1.43712417e-07   1.73161152e-07
   6.67282175e-08   1.51059600e-07  -1.10817558e-07  -7.19192187e-08
  -7.44324274e-08  -2.70120226e-07  -8.23117586e-08  -6.23879369e-09
  -3.04879889e-08  -2.41353067e-08   4.00443259e-08  -5.98348773e-06
   5.06266132e-08   5.15233910e-06   7.96265358e-07  -1.57433448e-08]

PC 1 with scaling:
 [ -9.09075429e-03   4.90153696e-01   4.58192699e-01   3.39679215e-01
   4.93049130e-01  -2.72507031e-02   3.14373208e-02  -1.86167947e-02
   3.14729443e-02  -9.04594895e-03   3.94760314e-03   5.29260093e-03
   1.26307632e-02   2.93053963e-02  -1.39679982e-03  -9.81988632e-03
  -1.67017214e-02  -3.25326701e-02  -4.90740029e-03  -3.43975663e-04
  -8.50930480e-03  -4.81538657e-03   4.67199678e-03  -3.02337312e-01
   2.25124153e-02   2.87561859e-01   9.86291475e-02   3.35175488e-02]

In [96]:
prediction = unscaled_clf.predict(testDummy)

In [109]:
sample = pd.read_csv("SampleSubmission.csv")

submission = pd.DataFrame({'customerid':sample['customerid'],'Good_Bad_flag': prediction},
                          columns=['customerid','Good_Bad_flag'])

#to csv
submission.to_csv('1.csv',index=False)